@def dropShadow #ccc;

.popupButtonBar {
	margin: .5em .5em 0 auto;
	float: right;
}

.focusPanel {
	margin: .5em .5em .5em auto;
	width: 16px;
	height: 16px;
}

.errorPopup {
	background: #fca; 
	border: 2px solid #ff4646;
	padding: 10px;
	cursor: help;
	font-size: 90%;
	
	/* rounded corners/shadow for Firefox, Chrome, Safari */
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px dropShadow;
	-webkit-box-shadow: 5px 5px dropShadow;
	-moz-box-shadow: 5px 5px dropShadow;
	
	/* drop shadow for IE */
	-pie-box-shadow: 5px 5px 5px dropShadow;
	/* rounded corners for IE */
	behavior: url(images/PIE.htc);
}

.loadingPopup {
	position: relative;
	margin: .5em auto;
	padding: .5em;
	background-color: #c8effe;
	border: 3px solid #507786;
	width: 8em;
	height: 1.5em;
	cursor: wait;
	text-align: center;
	
	/* rounded corners/shadow for Firefox, Chrome, Safari */
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	/* dropshadow */
	box-shadow: 5px 5px 5px dropShadow;
	-webkit-box-shadow: 5px 5px dropShadow;
	-moz-box-shadow: 5px 5px dropShadow;
	
	/* drop shadow for IE */
	-pie-box-shadow: 5px 5px 5px dropShadow;
	
	/* rounded corners for IE */
	behavior: url(images/PIE.htc);
}

.loadingPopup h2 {
	text-align: center;
	valign: middle;
	font-size: 130%;
	float: left;
	color: #7f7f7f;
}
