/** Add css rules here for your application. */

*{margin:0; padding:0; border:none;}

html,
body {
	height:100%;
	width:100%;
	background: #a9cfd8 !important;
	font-size: 16px;
	color: #fff;
    font-family: 'Merriweather', serif;
	font-weight: 300;
	}

.wrapper {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	/*border:1px dotted blue;*/
	}
	
.container {
	display: block;
	width: 829px;
	height: 726px;
	background: url(images/radio.png) 0 0 no-repeat;
	margin-top:10px;
	}
	
	
.button {
	display: block;
	width: 135px;
	height: 160px;
	background: url(images/btn.png) 0 0 no-repeat;
	float: right;
	text-indent: -9999px;
	}

.button:hover { background-position: 0 -172px; }
.button:active{ background-position: 0 -336px; }

.submitButton {
	display: block;
	width: 135px;
	height: 160px;
	background: url(images/btn.png) 0 0 no-repeat;
	float: right;
	text-indent: -9999px;
}
.submitButton:hover { background-position: 0 -172px; }
.submitButton:active{ background-position: 0 -336px; }

.songSheet {
	background-color: white;
	border: 1px solid black;
}

.form {
	width: 630px;
	height: 150px;
	float: left;
	margin: 470px 0 0 15px;
	}

.lyricsField { 
	display: block;
	
	padding-left: 15px;
	width: 590px;
	height: 59px;
	background: url(images/textbox.png) 0 0 no-repeat; 
	float: left;
	color: #fff;
	font-size: 20px;
	}
	

.lyrics { 
	display: block;
	
	padding-left: 15px;
	width: 590px;
	height: 59px;
	background: url(images/textbox.png) 0 0 no-repeat; 
	float: left;
	color: #fff;
	font-size: 20px;
	}
	
.border { 
	margin-left: 30px;
	padding-top: 470px; 
	width: 760px;
	}

/*ul {list-style-type: none;}*/

.gender, .voice {
	display: block;
	margin-top:15px;
	width: 285px;
	height: 57px;
	text-indent: -9999px;
	float:left;
	}
	
.gender {
	background: url(images/dropdown_gender.png) 0 0 no-repeat; 
	
	}
	
.voice {
	background: url(images/dropdown_voice.png) 0 0 no-repeat; 
	
	}
	
.dropdownStuff {float: left; }
.reset{clear: both;}

/*#gender li, #voice li{ background: #000;

}*/

/*#gender a, #voice a{
	display: block;
	height: 36px;
	margin: 0 0 0 25px;
	padding: 0 0 0 30px;
	text-align: left;
	text-decoration: none;
	color: #fff;
	line-height: 36px;
	text-indent: 10px; /* moves sublink text to the left 
}*/

/*#gender a:hover, #voice a:hover{
	color:#ffce76;
	background:#790005;
	text-decoration:none;
	
}*/

a {color: #c05d1b; text-decoration:none;}
a:hover {color:#de471e; text-decoration:underline;}
a:active {color:#8c2c12; position: relative; top: 1px;}

