@def background #1f0f34;
@def dropShadow #4d4d4d;
@def loadingText #7f7f7f;
@def loadingBackground #c8effe;

html, body {
	height:100%;
	width:100%;
	background: background;
	font-size: 100%;
	color: #fff;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.gridWrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: -999;
}

.grid {
	width: 960px;
	margin: 0 auto;
	background: transparent url(images/b.png) 0 0 repeat-y;
	height: 100%;
	position: relative;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  text-align: center;
}

.contentWrapper {
  display: block;
  width: 940px;
  margin: 0 auto;
}

.form {
  width: 940px;
  height: 650px;
  background: transparent url(images/robot.png) 50px 50px no-repeat;
}

.form > fieldset,
.lyricsLabel,
.lyricsTextBox,
.submitButton {
  float: left;
}

.form > fieldset {
  width: 450px;
  margin: 380px 0 0 100px;
  border: 0;
}

.lyricsLabel {
  color: #fff;
  width: 400px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: left;
  font-size: 1.2em;
}

.lyricsTextBox {
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #000000;
  margin: 0 0 20px 0;
  padding: 5px;
  width: 400px;
  height: 30px;
  font-size: 1em;
}

.submitButton {
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 1px #000000;
  border: 1px solid #4b082e;
  background: #92105b;
  background-image: -moz-linear-gradient(#92105b, #4b082e);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4b082e), color-stop(1, #92105b));
  -moz-box-shadow: 0 0 1px #ae2175 inset;
  -webkit-box-shadow: 0 0 1px #ae2175 inset;
  box-shadow: 0 0 1px #ae2175 inset;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 1px;
  text-shadow: 0 1px #000;
  text-transform: uppercase;
  width: 220px;
  height: 40px;
  padding: 7px 0 7px 0;
  cursor: pointer;
}

.submitButton:hover {
  background: #c4177b;
  background-image: -moz-linear-gradient(#c4177b, #4b082e);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4b082e), color-stop(1, #c4177b));
  -moz-box-shadow: 0 0 1px #ae2175 inset;
  -webkit-box-shadow: 0 0 1px #ae2175 inset;
  box-shadow: 0 0 1px #ae2175 inset;
}

.submitButton:active {
  border: 0;
  background: #92105b;
  background-image: -moz-linear-gradient(#92105b, #4b082e);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4b082e), color-stop(1, #92105b));
  -moz-box-shadow: 0 1px 5px #000000 inset;
  -webkit-box-shadow: 0 1px 5px #000000 inset;
  box-shadow: 0 1px 5px #000000 inset;
  position: relative;
  top: 2px;
}

.songSheet {
	margin: 1em auto;
	background-color: white;
	border: 1px solid black;
}

.loadingPopup {
	position: relative;
	margin: .5em auto;
	padding: .5em;
	background-color: background;
	border: 3px solid #507786;
	width: 12em;
	height: 2.5em;
	cursor: wait;
	text-align: center;
	
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.loadingPopup h2 {
	text-align: center;
	valign: top;
	font-size: 150%;
	float: left;
	color: loadingText;
}